
form {
		border: 2px solid black;
}

input[type=text],
input[type=password] {
		width: 100%;
		padding: 15px 20px;
		margin: 10px;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
}

button {
		background-color: Green;
		color: white;
		padding: 15px 20px;
		margin: 10px 0;
		border: none;
		cursor: pointer;
		width: 100%;
}

button:hover {
		opacity: 0.10;
}

.cancelbtn {
		width: auto;
		padding: 10px 18px;
		background-color: #f44336;
}

.imgcontainer {
		text-align: center;
		margin: 24px 0 12px 0;
}

img.avatar {
		width: 0%;
		border-radius: 50%;
}

.container {
		padding: 16px;
}

span.pass {
		float: right;
		padding-top: 20px;
}

@media screen and (max-width: 300px) {
		span.pass {
				display: block;
				float: none;
		}
		.cancelbtn {
				width: 100%;
		}
}
